@charset "UTF-8";
body {
    background-color: rgba(138, 199, 248, 0.932);
    font: normal 15pt Arial;        
}
h1 {
    text-align: center;             
}
section {
    background-color: rgb(255, 255, 255); 
    border-radius: 10px;            
    padding: 30px;                  
    width: 400px;                   
    height: 300px;                   
    margin: auto;                   
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.904); 
}
div {
    text-align: center;
    padding: 5px;
}

footer {
    text-align: center;
}

